body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.casing {
    border: solid 2px black;
    width: 350px;
    height: 600px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}