body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.casing {
    border: solid 2px black;
    width: 350px;
    height: 600px;
    border-radius: 15px;
}