body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.casing {
    border: solid 2px black;
    margin-top: 48px;
    width: 350px;
    height: 600px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.screen {
    flex:1;
    margin-top:10px;
    max-height:75px;
    width:300px;
    border: 3px solid black;
    border-radius: 15px;
}

h1 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}